<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	Listar Pessoas
	<br />
	<br />
	<table>
		<thead>
			<tr>
				<th>Nome: </th>
				<th>Sobrenome: </th>
				<th>Idade: </th>
			</tr>
		</thead>
<!-- 		<tbody> -->
<!-- 			<tr th:each="pessoa : ${pessoas}"> -->
<!-- 				<td th:text="${pessoa.nome}"></td> -->
<!-- 				<td th:text="${pessoa.sobrenome}"></td> -->
<!-- 				<td th:text="${pessoa.idade}"></td> -->
<!-- 				<td> -->
<!-- 					<a th:href="@{/edit/{id}(id=${pessoa.id})}">Editar</a> -->
<!-- 					<a th:href="@{/delete/{id}(id=${pessoa.id})}">Excluir</a>  -->
<!-- 			</tr> -->
<!-- 		</tbody> -->
	</table>
</body>
</html>